@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 255, 255, 255;
	--background-end-rgb: 255, 255, 255;
}
.pseudo:after {
	content: '';
	display: block;
	width: 22.5rem;
	height: 0.06rem;
	background-color: #020617;
}

body .swiper {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 3.03rem;
}
.swiper .swiper-slide {
  display: flex;
  padding-bottom: 1rem;
  width: 15.19rem;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1.25rem;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal
  .swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #d1d5db;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 2rem;
  height: 0.75rem;
  background-color: #60a5fa;
  border-radius: 0.62rem;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  width: 2.75rem;
  height: 2.75rem;
  color: #020617;
}
body .swiper .swiper-button-prev {
  left: -1.06rem;
}
body .swiper .swiper-button-next {
  right: -1.06rem;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  font-size: inherit;
  color: #020617;
}
